.formContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;   
}

form {
    width: 100%;
    margin-top: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}

section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.grupoInput{
    width: 40%;
    display: flex;
    flex-wrap: wrap;
}

.formItem {
    width: 45rem !important;
    height: 3rem !important;
    border-radius: 5px !important;
    outline: none;
    text-align: center;
    letter-spacing: 2px;
    margin: 0.5%;
    border: solid 1px rgba(121, 121, 121, 0.756);
    cursor: pointer;
    box-shadow: 0 0 15px 0 rgba(106, 105, 105, 0.394) !important;
    color: gray;
    font-size: 15px;
    
}



.button {
    width: 15%;
    height: 4rem !important;
    margin-top: 3%;
    background-color: black;
    border: none;
    cursor: pointer;
    color: white;
    transition: ease all 0.5s;
    border-radius: 10px;
    text-align: center;
    font-size: 23px;
  }


input:not(.suscribirse), .formItem{
    width: 100%;
    height: 1.5rem;
}

.grupoButton{
    display: flex;
    align-items: center;
    width: 100%;
}