.hero {
	height: 85vh;
	background-image: url('file:///C:/Users/acer%20Aspire%203/Desktop/ejerciciopracticogco/frontendpractice/src/assets/images/landPage.jpeg');
	background-size: cover;
	overflow: hidden;
}

.heroText{
	width: 45%;
	height: 50%;
	border-radius: 5px;
	box-shadow: 0 10px 30px #000;
	margin: 2% auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;


}

#filter{
	-webkit-backdrop-filter: blur(15px);
	backdrop-filter: blur(15px);
	background-color: rgba(243, 243, 243, 0.2);
}

.info{
	color: white;
	font-size: 20px;
	margin: 0.7% auto;
	text-shadow: 0 10px 30px #000;
}

