.iconMarcas {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 4%;
    bottom: 0;
}

.marcasContainer{
   display: flex;
   flex-direction: row;
   gap: 10px;
}

.logoMarcas{
    width: 20%;
    
}